//colores uno
$white: #FFF;
$snow: #FAFAFA;
$quick-silver: #A0A0A0;

//colores dos
$jelly-bean: #E56353;
$salmon: #E97F72;
$pastel-pink: #F0A9A1;

//colores tres
$granite-gray: #686963;
$taupe-gray: #91918D;
$gray: #BABAB8;

//tipografía
$raleway: 'Raleway', sans-serif;

//peso de las fuentes
$regular:400;
$bold: 700;
$extra-light: 200;

//tamaño de la fuente
$xx-large: 100px;
$x-large: 70px;
$large: 50px;
$medium: 18px;
